In [1]:
import pandas as pd
import numpy as np
import sys
import os

In [2]:
import winsound

In [3]:
os.listdir('../hard_drive/2015')

['.DS_Store',
 '2015-01-01.csv',
 '2015-01-02.csv',
 '2015-01-03.csv',
 '2015-01-04.csv',
 '2015-01-05.csv',
 '2015-01-06.csv',
 '2015-01-07.csv',
 '2015-01-08.csv',
 '2015-01-09.csv',
 '2015-01-10.csv',
 '2015-01-11.csv',
 '2015-01-12.csv',
 '2015-01-13.csv',
 '2015-01-14.csv',
 '2015-01-15.csv',
 '2015-01-16.csv',
 '2015-01-17.csv',
 '2015-01-18.csv',
 '2015-01-19.csv',
 '2015-01-20.csv',
 '2015-01-21.csv',
 '2015-01-22.csv',
 '2015-01-23.csv',
 '2015-01-24.csv',
 '2015-01-25.csv',
 '2015-01-26.csv',
 '2015-01-27.csv',
 '2015-01-28.csv',
 '2015-01-29.csv',
 '2015-01-30.csv',
 '2015-01-31.csv',
 '2015-02-01.csv',
 '2015-02-02.csv',
 '2015-02-03.csv',
 '2015-02-04.csv',
 '2015-02-05.csv',
 '2015-02-06.csv',
 '2015-02-07.csv',
 '2015-02-08.csv',
 '2015-02-09.csv',
 '2015-02-10.csv',
 '2015-02-11.csv',
 '2015-02-12.csv',
 '2015-02-13.csv',
 '2015-02-14.csv',
 '2015-02-15.csv',
 '2015-02-16.csv',
 '2015-02-17.csv',
 '2015-02-18.csv',
 '2015-02-19.csv',
 '2015-02-20.csv',
 '2015-02-21.csv',
 '2015-02-22.csv',
 '2015-02-23.csv',
 '2015-02-24.csv',
 '2015-02-25.csv',
 '2015-02-26.csv',
 '2015-02-27.csv',
 '2015-02-28.csv',
 '2015-03-01.csv',
 '2015-03-02.csv',
 '2015-03-03.csv',
 '2015-03-04.csv',
 '2015-03-05.csv',
 '2015-03-06.csv',
 '2015-03-07.csv',
 '2015-03-08.csv',
 '2015-03-09.csv',
 '2015-03-10.csv',
 '2015-03-11.csv',
 '2015-03-12.csv',
 '2015-03-13.csv',
 '2015-03-14.csv',
 '2015-03-15.csv',
 '2015-03-16.csv',
 '2015-03-17.csv',
 '2015-03-18.csv',
 '2015-03-19.csv',
 '2015-03-20.csv',
 '2015-03-21.csv',
 '2015-03-22.csv',
 '2015-03-23.csv',
 '2015-03-24.csv',
 '2015-03-25.csv',
 '2015-03-26.csv',
 '2015-03-27.csv',
 '2015-03-28.csv',
 '2015-03-29.csv',
 '2015-03-30.csv',
 '2015-03-31.csv',
 '2015-04-01.csv',
 '2015-04-02.csv',
 '2015-04-03.csv',
 '2015-04-04.csv',
 '2015-04-05.csv',
 '2015-04-06.csv',
 '2015-04-07.csv',
 '2015-04-08.csv',
 '2015-04-09.csv',
 '2015-04-10.csv',
 '2015-04-11.csv',
 '2015-04-12.csv',
 '2015-04-13.csv',
 '2015-04-14.csv',
 '2015-04-15.csv',
 '2015-04-16.csv',
 '2015-04-17.csv',
 '2015-04-18.csv',
 '2015-04-19.csv',
 '2015-04-20.csv',
 '2015-04-21.csv',
 '2015-04-22.csv',
 '2015-04-23.csv',
 '2015-04-24.csv',
 '2015-04-25.csv',
 '2015-04-26.csv',
 '2015-04-27.csv',
 '2015-04-28.csv',
 '2015-04-29.csv',
 '2015-04-30.csv',
 '2015-05-01.csv',
 '2015-05-02.csv',
 '2015-05-03.csv',
 '2015-05-04.csv',
 '2015-05-05.csv',
 '2015-05-06.csv',
 '2015-05-07.csv',
 '2015-05-08.csv',
 '2015-05-09.csv',
 '2015-05-10.csv',
 '2015-05-11.csv',
 '2015-05-12.csv',
 '2015-05-13.csv',
 '2015-05-14.csv',
 '2015-05-15.csv',
 '2015-05-16.csv',
 '2015-05-17.csv',
 '2015-05-18.csv',
 '2015-05-19.csv',
 '2015-05-20.csv',
 '2015-05-21.csv',
 '2015-05-22.csv',
 '2015-05-23.csv',
 '2015-05-24.csv',
 '2015-05-25.csv',
 '2015-05-26.csv',
 '2015-05-27.csv',
 '2015-05-28.csv',
 '2015-05-29.csv',
 '2015-05-30.csv',
 '2015-05-31.csv',
 '2015-06-01.csv',
 '2015-06-02.csv',
 '2015-06-03.csv',
 '2015-06-04.csv',
 '2015-06-05.csv',
 '2015-06-06.csv',
 '2015-06-07.csv',
 '2015-06-08.csv',
 '2015-06-09.csv',
 '2015-06-10.csv',
 '2015-06-11.csv',
 '2015-06-12.csv',
 '2015-06-13.csv',
 '2015-06-14.csv',
 '2015-06-15.csv',
 '2015-06-16.csv',
 '2015-06-17.csv',
 '2015-06-18.csv',
 '2015-06-19.csv',
 '2015-06-20.csv',
 '2015-06-21.csv',
 '2015-06-22.csv',
 '2015-06-23.csv',
 '2015-06-24.csv',
 '2015-06-25.csv',
 '2015-06-26.csv',
 '2015-06-27.csv',
 '2015-06-28.csv',
 '2015-06-29.csv',
 '2015-06-30.csv',
 '2015-07-01.csv',
 '2015-07-02.csv',
 '2015-07-03.csv',
 '2015-07-04.csv',
 '2015-07-05.csv',
 '2015-07-06.csv',
 '2015-07-07.csv',
 '2015-07-08.csv',
 '2015-07-09.csv',
 '2015-07-10.csv',
 '2015-07-11.csv',
 '2015-07-12.csv',
 '2015-07-13.csv',
 '2015-07-14.csv',
 '2015-07-15.csv',
 '2015-07-16.csv',
 '2015-07-17.csv',
 '2015-07-18.csv',
 '2015-07-19.csv',
 '2015-07-20.csv',
 '2015-07-21.csv',
 '2015-07-22.csv',
 '2015-07-23.csv',
 '2015-07-24.csv',
 '2015-07-25.csv',
 '2015-07-26.csv',
 '2015-07-27.csv',
 '2015-07-28.csv',
 '2015-07-29.csv',
 '2015-07-30.csv',
 '2015-07-31.csv',
 '2015-08-01.csv',
 '2015-08-02.csv',
 '2015-08-03.csv',
 '2015-08-04.csv',
 '2015-08-05.csv',
 '2015-08-06.csv',
 '2015-08-07.csv',
 '2015-08-08.csv',
 '2015-08-09.csv',
 '2015-08-10.csv',
 '2015-08-11.csv',
 '2015-08-12.csv',
 '2015-08-13.csv',
 '2015-08-14.csv',
 '2015-08-15.csv',
 '2015-08-16.csv',
 '2015-08-17.csv',
 '2015-08-18.csv',
 '2015-08-19.csv',
 '2015-08-20.csv',
 '2015-08-21.csv',
 '2015-08-22.csv',
 '2015-08-23.csv',
 '2015-08-24.csv',
 '2015-08-25.csv',
 '2015-08-26.csv',
 '2015-08-27.csv',
 '2015-08-28.csv',
 '2015-08-29.csv',
 '2015-08-30.csv',
 '2015-08-31.csv',
 '2015-09-01.csv',
 '2015-09-02.csv',
 '2015-09-03.csv',
 '2015-09-04.csv',
 '2015-09-05.csv',
 '2015-09-06.csv',
 '2015-09-07.csv',
 '2015-09-08.csv',
 '2015-09-09.csv',
 '2015-09-10.csv',
 '2015-09-11.csv',
 '2015-09-12.csv',
 '2015-09-13.csv',
 '2015-09-14.csv',
 '2015-09-15.csv',
 '2015-09-16.csv',
 '2015-09-17.csv',
 '2015-09-18.csv',
 '2015-09-19.csv',
 '2015-09-20.csv',
 '2015-09-21.csv',
 '2015-09-22.csv',
 '2015-09-23.csv',
 '2015-09-24.csv',
 '2015-09-25.csv',
 '2015-09-26.csv',
 '2015-09-27.csv',
 '2015-09-28.csv',
 '2015-09-29.csv',
 '2015-09-30.csv',
 '2015-10-01.csv',
 '2015-10-02.csv',
 '2015-10-03.csv',
 '2015-10-04.csv',
 '2015-10-05.csv',
 '2015-10-06.csv',
 '2015-10-07.csv',
 '2015-10-08.csv',
 '2015-10-09.csv',
 '2015-10-10.csv',
 '2015-10-11.csv',
 '2015-10-12.csv',
 '2015-10-13.csv',
 '2015-10-14.csv',
 '2015-10-15.csv',
 '2015-10-16.csv',
 '2015-10-17.csv',
 '2015-10-18.csv',
 '2015-10-19.csv',
 '2015-10-20.csv',
 '2015-10-21.csv',
 '2015-10-22.csv',
 '2015-10-23.csv',
 '2015-10-24.csv',
 '2015-10-25.csv',
 '2015-10-26.csv',
 '2015-10-27.csv',
 '2015-10-28.csv',
 '2015-10-29.csv',
 '2015-10-30.csv',
 '2015-10-31.csv',
 '2015-11-01.csv',
 '2015-11-02.csv',
 '2015-11-03.csv',
 '2015-11-04.csv',
 '2015-11-05.csv',
 '2015-11-06.csv',
 '2015-11-07.csv',
 '2015-11-08.csv',
 '2015-11-09.csv',
 '2015-11-10.csv',
 '2015-11-11.csv',
 '2015-11-12.csv',
 '2015-11-13.csv',
 '2015-11-14.csv',
 '2015-11-15.csv',
 '2015-11-16.csv',
 '2015-11-17.csv',
 '2015-11-18.csv',
 '2015-11-19.csv',
 '2015-11-20.csv',
 '2015-11-21.csv',
 '2015-11-22.csv',
 '2015-11-23.csv',
 '2015-11-24.csv',
 '2015-11-25.csv',
 '2015-11-26.csv',
 '2015-11-27.csv',
 '2015-11-28.csv',
 '2015-11-29.csv',
 '2015-11-30.csv',
 '2015-12-01.csv',
 '2015-12-02.csv',
 '2015-12-03.csv',
 '2015-12-04.csv',
 '2015-12-05.csv',
 '2015-12-06.csv',
 '2015-12-07.csv',
 '2015-12-08.csv',
 '2015-12-09.csv',
 '2015-12-10.csv',
 '2015-12-11.csv',
 '2015-12-12.csv',
 '2015-12-13.csv',
 '2015-12-14.csv',
 '2015-12-15.csv',
 '2015-12-16.csv',
 '2015-12-17.csv',
 '2015-12-18.csv',
 '2015-12-19.csv',
 '2015-12-20.csv',
 '2015-12-21.csv',
 '2015-12-22.csv',
 '2015-12-23.csv',
 '2015-12-24.csv',
 '2015-12-25.csv',
 '2015-12-26.csv',
 '2015-12-27.csv',
 '2015-12-28.csv',
 '2015-12-29.csv',
 '2015-12-30.csv',
 '2015-12-31.csv']

In [5]:
day = pd.read_csv('../hard_drive/2015/2015-01-01.csv')

In [6]:
day.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2015-01-01,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,135.0,108.0,143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,MJ0351YNG9WJSA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,136.0,104.0,127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-01,MJ0351YNG9Z7LA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,136.0,104.0,124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-01,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,136.0,104.0,137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-01,PL1321LAG34XWH,Hitachi HDS5C4040ALE630,4000787030016,0,100,0,134.0,101.0,131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
days = pd.DataFrame()
dir = '../hard_drive/2015'
for (id,csv) in enumerate(os.listdir(dir)):
    if 'csv' in csv:
        day = pd.read_csv(dir + '/'+ csv)
        day = day.dropna(axis=1)
        days = pd.concat([days,day])
    if id>4:
        break

In [4]:
days.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_3_normalized,smart_3_raw,smart_4_normalized,...,smart_10_normalized,smart_10_raw,smart_12_normalized,smart_12_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw,smart_199_normalized,smart_199_raw
0,2015-01-01,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,143,540,100,...,100,0,100,14,100,0,100,0,200,0
1,2015-01-01,MJ0351YNG9WJSA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,127,556,100,...,100,0,100,19,100,0,100,0,200,0
2,2015-01-01,MJ0351YNG9Z7LA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,124,566,100,...,100,0,100,18,100,0,100,0,200,0
3,2015-01-01,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,137,507,100,...,100,0,100,15,100,0,100,0,200,0
4,2015-01-01,PL1321LAG34XWH,Hitachi HDS5C4040ALE630,4000787030016,0,100,0,131,514,100,...,100,0,100,29,100,0,100,0,200,0

In [ ]:
winsound.MessageBeep()

In [7]:
days.failure.mean()

7.762995740056087e-05

In [8]:
from sklearn.utils.class_weight import compute_class_weight

In [22]:
columns = ['capacity_bytes', 'failure',
       'smart_1_normalized', 'smart_1_raw', 'smart_3_normalized',
       'smart_3_raw', 'smart_4_normalized', 'smart_4_raw',
       'smart_5_normalized', 'smart_5_raw', 'smart_7_normalized',
       'smart_7_raw', 'smart_9_normalized', 'smart_9_raw',
       'smart_10_normalized', 'smart_10_raw', 'smart_12_normalized',
       'smart_12_raw', 'smart_197_normalized', 'smart_197_raw',
       'smart_198_normalized', 'smart_198_raw', 'smart_199_normalized',
       'smart_199_raw']
columns = [i for i in columns if 'normalized' not in i]

In [23]:
df = days[columns]
y  = days['failure']

In [24]:
df.head()

,capacity_bytes,failure,smart_1_raw,smart_3_raw,smart_4_raw,smart_5_raw,smart_7_raw,smart_9_raw,smart_10_raw,smart_12_raw,smart_197_raw,smart_198_raw,smart_199_raw
0,3000592982016,0,0,540,14,0,0,19169,0,14,0,0,0
1,3000592982016,0,0,556,19,2,0,19235,0,19,0,0,0
2,3000592982016,0,0,566,19,0,0,18732,0,18,0,0,0
3,3000592982016,0,0,507,15,0,0,17879,0,15,0,0,0
4,4000787030016,0,0,514,29,0,0,15829,0,29,0,0,0

In [11]:
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC

In [12]:
lr = LogisticRegression(solver='lbfgs',class_weight='balanced')
gnb = GaussianNB()
svc = LinearSVC(C=1.0)
rfc = RandomForestClassifier(n_estimators=100)

In [13]:
train_samples = 10000  # Samples used for training the models

X_train = df[:train_samples]
X_test = df[train_samples:]
y_train = y[:train_samples]
y_test = y[train_samples:]

In [25]:
df_good = df[y==0]

In [26]:
df_bad = df[y==1]

In [27]:
y_good = y[y==0]

In [28]:
y_bad = y[y==1]

In [29]:
X_train = np.concatenate([df_good[:train_samples],df_bad[:8]])
y_train = np.concatenate([ y_good[:train_samples], y_bad[:8]])
X_test = np.concatenate([df_good[train_samples:],df_bad[8:]])
y_test = np.concatenate([ y_good[train_samples:], y_bad[8:]])

In [30]:
for model in [lr,gnb,svc,rfc]:
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print("Trained: ",model)
    print("Precision:",precision(y_test,y_pred))
    print("Recall:",recall(y_test,y_pred))
    print("Accuracy:",accuracy(y_test,y_pred))

Trained:  LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)
Precision: 0
Recall: 0.0
Accuracy: 0.9999592040714337
Trained:  GaussianNB(priors=None)
Precision: 0
Recall: 0.0
Accuracy: 0.9999592040714337
Trained:  LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)
Precision: 0.0
Recall: 0.0
Accuracy: 0.9998062193393099
Trained:  RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
Precision: 1.0
Recall: 0.75
Accuracy: 0.9999898010178584

In [81]:
lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [55]:
X_train.shape

(10008, 24)

In [82]:
y_pred = lr.predict(X_test)

In [20]:
accuracy = lambda actual,predicted : 1- np.mean(np.abs(actual-predicted))

def precision(actual,predicted):
    tp = np.all([actual, predicted],axis=0).sum()
    fp = np.all([1-actual, predicted],axis=0).sum()
    tn = np.all([1-actual, 1-predicted],axis=0).sum()
    fn = np.all([actual, 1-predicted],axis=0).sum()
    return tp/(tp+fp) if (tp+fp>0) else 0

def recall(actual,predicted):
    tp = np.all([actual, predicted],axis=0).sum()
    fp = np.all([1-actual, predicted],axis=0).sum()
    tn = np.all([1-actual, 1-predicted],axis=0).sum()
    fn = np.all([actual, 1-predicted],axis=0).sum()
    return tp/(tp+fn) if (tp+fn>0) else 0

In [83]:
accuracy(y_test,y_pred)

0.9999592040714337

In [84]:
precision(y_test,y_pred)

0

In [85]:
recall(y_test,y_pred)

0.0

In [70]:
y_pred.shape

(196098,)